* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

/* Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%) */

.big-container {
  background-color: hsl(185, 75%, 39%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bg-container {
  height: 140px;
  margin-bottom: 40px;
}
.background {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.container {
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.img-container {
  max-width: 350px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 5px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -135%);
}
.info {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-top: 1px solid #dbdbdb;
  height: 70px;
}

.info div {
  text-align: center;
}

.color-text {
  color: hsl(0, 0%, 59%);
}

.font-weight-600 {
  font-weight: 600;
}
